# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Even-Fibonacci-Numbers/EvenFibonacciNumbers/nbproject/private/
/Even-Fibonacci-Numbers/EvenFibonacciNumbers/build/
/Time-Effort-Calulator/SoftwareTimeEffortCalculator/nbproject/private/
/Time-Effort-Calulator/SoftwareTimeEffortCalculator/build/
/Sum-of-Multiples/SumOfMultiples/nbproject/private/
/Sum-of-Multiples/SumOfMultiples/build/
/Sum-Square-Difference/SumSquareDifference/nbproject/private/
/Sum-Square-Difference/SumSquareDifference/build/
/Roman-Numeral-Optimization/RomanNumeralOptimization/nbproject/private/
/Roman-Numeral-Optimization/RomanNumeralOptimization/build/
/Largest-Product/LargestProductFromSeries/nbproject/private/
/Largest-Product/LargestProductFromSeries/build/
/Large-Sum/Large-Sum/nbproject/private/
/Large-Sum/Large-Sum/build/
/Largest-Product-In-Grid/LargestProductInGrid/nbproject/private/
/Largest-Product-In-Grid/LargestProductInGrid/build/
/Pythagorean-Triplet/SpecialPythagoreanTriplet/nbproject/private/
/Pythagorean-Triplet/SpecialPythagoreanTriplet/build/
/Pythagorean-Triplet/SpecialPythagoreanTriplet/dist/
/Largest-Palindrome-Product/LargestPalindromeProduct/nbproject/private/
/Largest-Palindrome-Product/LargestPalindromeProduct/build/
/Derivative-Calculator/DerivativeCalculator/nbproject/private/
/Derivative-Calculator/DerivativeCalculator/build/
/Power-Digit-Sum/PowerDigitSum/nbproject/private/
/Power-Digit-Sum/PowerDigitSum/build/
/Recursive-Factorial/RecursiveFactorialCalculator/build/
/Recursive-Factorial/RecursiveFactorialCalculator/nbproject/private/